# Ignore large data file
did_analysis_data.csv
ppa_list.csv
data.RData
prince_andrew_charity_analysis_DATA.Rdata

# Ignore (private) analysis script 
prince_andrew_charity_analysis_ANALYSIS.R

# Ignore RStudio project file
open_source_files.Rproj

# Ignore descriptive stats report
descriptive_statistics.Rmd

# Ignore data prep script
data_preparation.R

# Ignore R and RStudio artefacts
.Rproj.user/
*.Rhistory
*.Rproj

# Other
*.log
*.DS_Store
